*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.nav>a{
    text-decoration: none;
}

body{
    background-image: url(loginpagebackgrnd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    height: 70px;
    width: auto;
    /* border: 2px solid rgb(210, 49, 49); */
    background-color: black;
    position: relative;
    display: flex;
}

#logo{
    height: 66px;
    width: 170px;
    background-image: url(logo.png);
    position: absolute;
    left: 25px;
    top: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 10%; */
}

.nav{
    height: 66px;
    width: 900px;
    /* border: 2px red solid; */
    position: absolute;
    display: flex;
    left: 250px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    
}

.nav>a>div{
    color: white;
    height: 60px;
    width: 150px;
    /* border: 2px solid blue; */
    font-size: 13px;
    text-align: center;
    padding-top: 21px;
    /* justify-content: space-evenly; */
    cursor: pointer;
}
.nav>a>div:hover{
    color: rgb(30, 189, 181);
}

#login{
    height:66px ;
    width: 100px;
    /* border: yellow 2px solid; */
    margin-left: 1290px;
    display: flex;
    cursor: pointer;
}

#text1{
    height:60px ;
    width: 60px;
    /* border: rgb(13, 184, 150) 4px solid; */
    padding-top: 20px;
    color: white;
}
#text1:hover{
    color: rgb(30, 189, 181);
}

#font{
    height:60px ;
    width: 40px;
    /* border: rgb(217, 14, 149) 4px solid; */
    padding-top: 20px;
    color: white;
}
#q:hover{
    color: rgb(30, 189, 181);
}


#reg{
    height: 68px;
    width: 130px;
    /* border: 2px rgb(170, 198, 9) solid; */
    background-color: black;
    color: white;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 18px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

#reg:hover{
    background-color: rgb(12, 158, 187);
}

    
 /* main div startin from here */
.main{
    height: 1280px;
    width: 900px;
    margin: 0px auto;
    /* border: 2px solid whitesmoke; */
    background-color: whitesmoke;
    opacity: 0.9;

}

#main2{
    height: 1280px;
    width: 840px;
    margin: 0px auto;
    /* border: 4px solid rgb(6, 172, 6); */
    background-color: whitesmoke;
}
#loc{
    color: blue;
}
#para1{
    /* font-style: italic; */
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    line-height: 1.6;
}

#map{
    height: 400px;
    width: 600px;
    /* border: 1px black solid; */
    margin: 50px auto;
    background-image: url(map2.png);
    background-size: cover;
    cursor: pointer;
}

.add{
    height: 150px;
    width: 600px;
    /* border: 2px red solid; */
    position: relative;
}
#left1{
    height: 146px;
    width: 150px;
    /* border: 2px blue solid; */
    position: absolute;
    color: blue;
    font-size: 23px;
    font-weight: 900;
}
#right1{
    height: 146px;
    width: 250px;
    /* border: 2px rgb(9, 151, 115) solid; */
    position: absolute;
    left:230px ;
    font-weight: 600;
    line-height: 1.4;
}

#phone{
    height: 150px;
    width: 700px;
    /* border: 2px blueviolet solid; */
    position: relative;
    margin-top: 30px;
}

#left2{
    height: 146px;
    width: 150px;
    /* border: 2px red solid; */
    position: absolute;
    font-weight: 600;
    font-size: 23px;
    color: blue;
}
#middle2{
    height: 146px;
    width: 200px;
    /* border: 2px rgb(117, 34, 194) solid; */
    position: absolute;
    left: 230px;
    font-weight: 600;
    line-height: 1.4;
}

#right2{
    height: 146px;
    width: 200px;
    /* border: 2px rgb(16, 184, 25) solid; */
    position: absolute;
    left: 450px;
    font-weight: 600;
    line-height: 1.4;
}

.fax{
    height: 60px;
    width: auto;
    /* border: 2px gold solid; */
    position: relative;
}
#fax{
    height: 56px;
    width: 100px;
    /* border: 2px solid brown; */
    position: absolute;
    font-weight: 600;
    font-size: 23px;
    color: blue;
}

#fax_no{
    height:56px;
    width: 200px;
    /* border: 2px solid red; */
    position: absolute;
    left: 230px;
    font-weight: 600;
}

.email{
    height: 100px;
    width: 500px;
    /* border: 2px solid springgreen; */
    position: relative;
}

#em{
    height: 96px;
    width: 100px;
    /* border: 2px red solid; */
    font-weight: 600;
    font-size: 23px;
    color: blue;
    position: absolute;
}

#email_id{
    height: 96px;
    width: 200px;
    /* border: 2px rgb(152, 19, 218) solid; */
    left: 230px;
    font-weight: 600;
    font-size: 17px;
    position: absolute;
}

#e{
    color: rgb(0, 111, 154);
    text-decoration: none;
}


/* footer css code starting from here */
footer{
    height: 500px;
    width: auto;
    /* border: 2px solid rgb(46, 39, 39); */
    background-color: rgb(46, 39, 39);
    display: flex;
}

#left5{
    height: 450px;
    width: 300px;
    /* border: 2px solid white; */
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#list{
    color: white;
    font-size: 22px;
}

#mid{
    height: 300px;
    width: 300px;
    /* border: 4px solid white; */
    margin-left: 60px;
    margin-top: 20px;
}

#list2{
    color: white;
    font-size: 22px;
    padding-left: 33px;
}

#logo2{
    height: 70px;
    width: 170px;
    /* border: 2px white solid; */
    margin-left: 40px;
    background-image: url(national.png);
    background-size: contain;
    background-repeat: no-repeat;
}


#right5{
    height: 450px;
    width: 550px;
    /* border: 2px solid white; */
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
}

#feedback{
    color: beige;
    padding-left: 120px;
}
#inp1{
    height: 50px;
    width: 200px;
    margin-left: 49px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;
}

#inp2{
    height: 50px;
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;


}

#foot{
    display: flex;
}

#textarea{
    margin-left: 50px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;
    width: 450px;
}

#submit{
    height: 30px;
    width: 70px;
    background-color: blue;
    margin-left: 50px;
    margin-top: 15px;
    /* outline: none; */
    cursor: pointer;
}

#icon{
    height: 70px;
    width: 150px;
    /* border: 2px red solid; */
    position: relative;
    bottom: 25px;
}

#fb{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(180, 224, 7); */
    position: absolute;
}

#ifb{
    background-size: contain;
    font-size: 42px;
    color: blue;
}

#twt{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(70, 224, 14); */
    position: absolute;
    left: 100px;
}

#itwt{
    background-size: contain;
    font-size: 42px;
    color: rgb(10, 88, 111);
}

#yt{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(180, 224, 7); */
    position: absolute;
    left: 49px;
}

#iyt{
    background-size: contain;
    font-size: 38px;
    color: red;
}

#red{
    height: 100px;
    width: auto;
    /* border:  2px red solid; */
    background-color:rgb(46, 39, 39);
    position: relative;
}

#footer2{
    height: 96px;
    width: 1320px;
    /* border: solid blue 2px; */
    margin-left: 100px;
    display: flex;
   
}

#copyright{
    color: red;
}

#para5{
    color: white;
    font-size: 19px;
    text-justify: auto;
    font-style: italic;
}

#lastfooter{
    height: 80px;
    width: auto;
    border: 2px solid rgb(240, 95, 64);
    background-color: rgb(240, 95, 64);
}
#block{
    height: 60px;
    width: 500px;
    /* border: 2px solid black; */
    margin-left: 480px;
    margin-top: 10px;
}

#line1{
    color: white;
    font-size: 19px;
}
#line2{
    color: white;
    font-size: 19px;
    padding-left: 35px;
}

#nl{
    color: yellow;
}
#small{
    font-size: small;
}

