*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(loginpagebackgrnd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    height: 70px;
    width: auto;
    /* border: 2px solid rgb(210, 49, 49); */
    background-color: black;
    position: relative;
    display: flex;
}

#logo{
    height: 66px;
    width: 170px;
    background-image: url(logo.png);
    position: absolute;
    left: 25px;
    top: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 10%; */
}

.nav{
    height: 66px;
    width: 900px;
    /* border: 2px red solid; */
    position: absolute;
    display: flex;
    left: 250px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    
}

.nav>a>div{
    color: white;
    height: 60px;
    width: 150px;
    /* border: 2px solid blue; */
    font-size: 13px;
    text-align: center;
    padding-top: 21px;
    /* justify-content: space-evenly; */
    cursor: pointer;
    text-decoration: none;
}
.nav>a>div:hover{
    color: rgb(30, 189, 181);
}

#login{
    height:66px ;
    width: 100px;
    /* border: yellow 2px solid; */
    margin-left: 1290px;
    display: flex;
    cursor: pointer;
}

#text1{
    height:60px ;
    width: 60px;
    /* border: rgb(13, 184, 150) 4px solid; */
    padding-top: 20px;
    color: white;
}
#text1:hover{
    color: rgb(30, 189, 181);
}

#font{
    height:60px ;
    width: 40px;
    /* border: rgb(217, 14, 149) 4px solid; */
    padding-top: 20px;
    color: white;
}
#q:hover{
    color: rgb(30, 189, 181);
}

#reg{
    height: 66px;
    width: 100px;
    /* border: 2px rgb(170, 198, 9) solid; */
    background-color: blue;
    color: white;
    /* margin-left: 40px; */
    padding-top: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.main{
    height: 300px;
    width: 900px;
    margin: 0px auto;
    /* border: 2px solid whitesmoke; */
    background-color: whitesmoke;
    opacity: 0.7;

}

#main2{
    height: 300px;
    width: 500px;
    margin: 0px auto;
    /* border: 4px solid rgb(6, 172, 6); */
    background-color: whitesmoke;
}

#heading{
    font-size: 30px;
    padding-left: 116px;
}

.un{
    height:50px;
    width: 450px;
    /* border: 2px blue solid; */
    margin: 13px auto;
    position: relative;
}

#user{
    font-size: 19px;
}
#field1{
    height: 40px;
    width: 212px;
    /* border: 2px solid blue; */
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 7px rgb(12, 12, 12);
    outline: none;
    font-size: 19px;
    border-radius: 3px;
    /* margin-top: 10px; */
  
}
#star{
    color: red;
}

#leb1{
    height: 46px;
    width: 100px;
    /* border: 2px solid blueviolet; */
    position: absolute;
}

#textfield1{
    height:49px;
    width: 206px;
    /* border: 2px rgb(67, 244, 3) solid; */
    margin: 0px 180px;
    position: absolute;
}

#or{
    font-size: 20px;
    padding-left: 200px;
}

.email{
    height:50px;
    width: 450px;
    /* border: 2px blue solid; */
    margin: 0px auto;
    position: relative;
}


#leb2{
    height: 46px;
    width: 100px;
    /* border: 2px solid blueviolet; */
    position: absolute;
}

#textfield2{
    height:46px;
    width: 200px;
    /* border: 2px rgb(67, 244, 3) solid; */
    margin: 0px 180px;
    position: absolute;
}

#field2{
    height: 40px;
    width: 212px;
    /* border: 2px solid blue; */
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 7px rgb(12, 12, 12);
    outline: none;
    font-size: 19px;
    border-radius: 3px;
  
}

/* #sub{
    height: ;
    margin-left: 100px;
} */

#email2{
    font-size: 19px;
}


#login3{
    font-size: 28px;
    margin-bottom: 10px;
    background-color: white;
    margin-left: 190px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgb(6, 136, 242);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

#login3:hover{
    background-color: aqua;
}

/* footer css code starting from here */

footer{
    height: 500px;
    width: auto;
    /* border: 2px solid rgb(46, 39, 39); */
    background-color: rgb(46, 39, 39);
    display: flex;
}

#left5{
    height: 450px;
    width: 300px;
    /* border: 2px solid white; */
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#list{
    color: white;
    font-size: 22px;
}

#mid{
    height: 300px;
    width: 300px;
    /* border: 4px solid white; */
    margin-left: 60px;
    margin-top: 20px;
}

#list2{
    color: white;
    font-size: 22px;
    padding-left: 33px;
}

#logo2{
    height: 70px;
    width: 170px;
    /* border: 2px white solid; */
    margin-left: 40px;
    background-image: url(national.png);
    background-size: contain;
    background-repeat: no-repeat;
}


#right5{
    height: 450px;
    width: 550px;
    /* border: 2px solid white; */
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
}

#feedback{
    color: beige;
    padding-left: 120px;
}
#inp1{
    height: 50px;
    width: 200px;
    margin-left: 49px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;
}

#inp2{
    height: 50px;
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;


}

#foot{
    display: flex;
}

#textarea{
    margin-left: 50px;
    margin-top: 15px;
    padding-left: 15px;
    outline: none;
    width: 450px;
}

#submit{
    height: 30px;
    width: 70px;
    background-color: blue;
    margin-left: 50px;
    margin-top: 15px;
    /* outline: none; */
    cursor: pointer;
}

#icon{
    height: 70px;
    width: 150px;
    /* border: 2px red solid; */
    position: relative;
    bottom: 25px;
}

#fb{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(180, 224, 7); */
    position: absolute;
}

#ifb{
    background-size: contain;
    font-size: 42px;
    color: blue;
}

#twt{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(70, 224, 14); */
    position: absolute;
    left: 100px;
}

#itwt{
    background-size: contain;
    font-size: 42px;
    color: rgb(10, 88, 111);
}

#yt{
    height: 44px;
    width: 44px;
    /* border: 2px solid rgb(180, 224, 7); */
    position: absolute;
    left: 49px;
}

#iyt{
    background-size: contain;
    font-size: 38px;
    color: red;
}

#red{
    height: 100px;
    width: auto;
    /* border:  2px red solid; */
    background-color:rgb(46, 39, 39);
    position: relative;
}

#footer2{
    height: 96px;
    width: 1320px;
    /* border: solid blue 2px; */
    margin-left: 100px;
    display: flex;
   
}

#copyright{
    color: red;
}

#para5{
    color: white;
    font-size: 19px;
    text-justify: auto;
    font-style: italic;
}

#lastfooter{
    height: 80px;
    width: auto;
    border: 2px solid rgb(240, 95, 64);
    background-color: rgb(240, 95, 64);
}
#block{
    height: 60px;
    width: 500px;
    /* border: 2px solid black; */
    margin-left: 480px;
    margin-top: 10px;
}

#line1{
    color: white;
    font-size: 19px;
}
#line2{
    color: white;
    font-size: 19px;
    padding-left: 35px;
}

#nl{
    color: yellow;
}
#small{
    font-size: small;
}
